.alice {
  background-image: url("https://i.imgur.com/i3amF5Z.png");
  background-size: cover;
}

.karen {
  background-image: url("https://i.imgur.com/LCOAcxa.png");
  background-size: cover;
}

.hooPhoenix {
  background-image: url("https://i.imgur.com/riYmGeM.png");
  background-size: cover;
}

.nerokas {
  background-image: url("https://i.imgur.com/2cyt6By.png");
  background-size: cover;
}

.beryl {
  background-image: url("https://i.imgur.com/Q4EH300.png");
  background-size: cover;
}

.phantom {
  background-image: url("https://i.imgur.com/WaIb1sz.png");
  background-size: cover;
}

.cale {
  background-image: url("https://i.imgur.com/BTPLJQV.png");
  background-size: cover;
}

.hooLeo {
  background-image: url("https://i.imgur.com/i3amF5Z.png");
  background-size: cover;
}

.dana {
  background-image: url("https://i.imgur.com/kI0pQ4u.png");
  background-size: cover;
}

.punishment {
  background-image: url("https://i.imgur.com/QrjX6YJ.png");
  background-size: cover;
}

.crime {
  background-image: url("https://i.imgur.com/i3amF5Z.png");
  background-size: cover;
}