.ccBossConcent {
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: 80px;
}

.ccBossInfoImg {
  margin-top: 20px;;
}

.ccBossMecha li {
  margin-top: 40px;
}

.ccBossMecha img {
  max-width: 100%;
}

.ccBossMecha li:last-child {
  margin-bottom: 80px;
}

@media (max-width:600px) {
  .ccBossConcent {
    max-width:80%;
  }
}

@media (max-width:450px) {
  .ccBossInfoImg {
    max-width: 80%;
  }
}