.ccBossHeader {
  font-size:18px;
}

.ccBossProfil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -200px
}

.ccBossProfilPic {
  width: 700px;
}

.ccBossProfilInfo {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.ccBossProfilInfo p:not(:first-child) {
  margin-top: 40px;
}

.ccBossComp {
  text-align: center;
  margin-top: 35px;
}

.ccBossComp h3 {
  margin-bottom: 20px;
}