.ccPic {
  width: 400px;
  height: 400px;
}

@media (max-width:1200px) {
  .ccPic {
    width: 300px;
    height: 300px;
  }
}

@media (max-width:1000px) {
  .ccPic {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
}

.ccDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ccDiv p {
  max-width : 680px;
}

.ccContent {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}

table {
  border-collapse: collapse;
  background-color: rgb(66, 66, 66);
  width: fit-content;
  border: 1px solid #dee2e6;
  display: block;
  overflow-x: auto;
  margin-bottom: 100px;
}

td {
  padding: 15px;
}

tr:hover {
  background-color: rgb(114, 114, 114);
}

td:first-child {
  font-weight: bold;
  padding-right:50px;
}

tr:not(:last-child) {
  border-bottom: 1px solid #b3b6b9;
}

.ccBossImgs {
  max-width: 381px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.ccBossImgs div {
  width: 125px;
  height: 200px;
  margin: 1px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.libra {
  background-image: url('../img/cc/Libra.png');
  background-size: cover;
}

.sagi {
  background-image: url('../img/cc/Sagi.png');
  background-size: cover;
}

.leo {
  background-image: url('../img/cc/Leo.png');
  background-size: cover;
}

.gemini {
  background-image: url('../img/cc/Gemini.png');
  background-size: cover;
}

.aqua {
  background-image: url('../img/cc/Aqua.png');
  background-size: cover;
}

.aries {
  background-image: url('../img/cc/Aries.png');
  background-size: cover;
}

.ccBossImgs div p {
  opacity: 0;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.ccBossImgs div:hover p {
  opacity: 1;
}

.ccBossImgs div:hover {
  cursor: pointer;
}

.ccScheduleTitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.ccBossImgsTitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1000px) {
  td:first-child {
    padding-right:15px;
  }
}

@media (max-width:800px) {
  .ccContent {
    flex-direction: column;
    align-items: center;
  }
  .ccSchedule {
    margin-bottom:-50px;
  }
  .ccDiv {
    flex-direction: column;
  }
  .ccDiv p {
    max-width: 70%;
    margin-top: 20px;
  }
}