.dungeonPic {
  width: 400px;
  height: 400px;
}

@media (max-width:1200px) {
  .dungeonPic {
    width: 300px;
    height: 300px;
  }
}

@media (max-width:1000px) {
  .dungeonPic {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
}

.dungeonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dungeonDiv p {
  max-width : 680px;
}

@media (max-width:800px) {
  .dungeonDiv {
    flex-direction: column;
  }
  .dungeonDiv p {
    max-width: 70%;
    margin-top: 20px;
  }
}