.glyphComposHidden {
  position: relative;
  left: -200px;
  width: 0px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 0;
}

.glyphBody {
  display: flex;
  align-items:center;
  background-color: #2B2720;
  border-style: inset;
  border-color: #909694;
  text-align: center;
  margin: 20px;
}

.glyphCompos {
  position: relative;
  margin-left: 25px;
  margin-right: 10px;
  transition: transform 0.4s ease-in-out;
  transform: translateX(10%);
}

.glyphImage {
  border: #909694;
  border-style: ridge;
  border-width: 1px;
  width: 260px;
  height: 275px;
}

.glyphComposTitle {
  margin-bottom: 20px;
  font-size: 21px;
  font-style: bold;
}

.glyphChar {
  margin-bottom: 10px;
}

.glyphButtonNo {
  position:relative;
  left:0px;
  font-size: 25px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(233, 233, 233);
  border-radius: 50px;
  background: none;
  border:none;
}

.glyphButtonYes {
  position:relative;
  left:18px;
  font-size: 25px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  background-color: #2B2720;
  border-radius: 50px;
}